@import 'core.scss';

.modal {
  position: 'absolute';
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 50vh auto 0;
  transform: translateY(-50%);
}

.modalInner {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10%;
  background-color: #f44336;
}

.modalTitle {
  font-size: 24px;
  color: white;
}

.images {
  display: flex;
  max-width: 240px;
  overflow-x: scroll;
  margin-top: 15px;
}

.frame {
  min-width: 240px;
  height: 125px;
  margin-right: 10px;
  background: transparent no-repeat center;
  flex-direction: row;
  background-size: cover;
}

.comment-section {
  width: 100%;
  max-height: 180px;
  overflow-y: scroll;
  margin-top: 15px;
  background-color: white;
}

.form {
  width: 100% !important;
  margin-top: 10px;
}

.input {
  width: 100% !important;
}
