@import 'core.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;
  height: 90wh;
  background-color: #002884;
}

.section {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 5px;
  font-size: 28px;
  color: white;
  border-bottom: 2px solid white;
}

.sectionLogout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 28px;
  color: white;
  cursor: pointer;
  vertical-align: bottom;
}
