@import 'core.scss';

.single-comment {
  display: flex;
  padding-bottom: 8px;
  margin-top: 8px;
  flex-direction: row;
  border-bottom: 1px solid #9b9797;
}

.userImg {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.delete {
  cursor: pointer;
  margin-right: 5px !important;
}

.about {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  width: 100% !important;
  margin-left: 8px;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  flex-direction: row !important;
  flex-direction: column;
  font-style: normal;
}

.commentDate {
  margin-top: 2px;
  font-size: 10px;
  line-height: 11px;
  color: #9b9797;
}
