@import 'core.scss';

.home-page {
  width: 100vw;
  height: 100vh;
}

.location-list {
  margin-top: 30px;
  overflow-y: scroll;
}

.content {
  display: flex;
  width: 100vw;
  height: 90vh;
  flex-direction: column;
}
